<link rel="stylesheet" href="{{ 'footer.css' | asset_url }}" media="print" onload="this.media='all'">
<footer class="section-p1">
        <div class="col">
            {% comment %} <img class="logo" src="img/logo.png" alt=""> {% endcomment %}
            <h3>Contact</h3>
            <p><strong>Address: </strong>Ontario, Canada
                1-72 Commuter Drive,
                Brampton, Ontario, Canada
                L7A 0P8</p>
            <p><strong>Email: </strong>corporateanalyticsofficial@gmail.com</p>
            <p><strong>Phone: </strong>+91 1010101010</p>


            <div class="follow">
                <h4>Follow Us</h4>

                <div class="icon">
                    <i class="fab fa-facebook-f"></i>
                    <i class="fab fa-twitter"></i>
                    <i class="fab fa-instagram"></i>
                    <i class="fab fa-pinterest-p"></i>
                    <i class="fab fa-youtube"></i>
                </div>
            </div>
        </div>

        <div class="col">
            <h3>About</h3>

            <p>MedicartHub.com: Your wellness destination.</p>
            <p>20,000+ health solutions at unbeatable prices.</p>
            <p>From diabetes care to beauty essentials,</p>
            <p>we simplify your shopping. Fast delivery,</p>
            <p>expert pharmacists, and a variety of services.</p>
            <p>Your path to well-being starts here. Happy Shopping!</p>
            



        </div>
        <div class="col">
            <h3>Useful Links</h3>
            <a href="#">Sign in</a>
            <a href="#">Log in</a>
            <a href="#">Help</a>

        </div>



        <div class="copyright">
            <p>&copy; 2024 MedicartHub - Your Online Pharmacy</p>
        </div>

    </footer>
