<link rel="stylesheet" href="{{ 'landing.css' | asset_url }}" media="print" onload="this.media='all'">

<section class="landing-page">
        <div class="landing-image">
            <img src="{{ 'bg1.jpg' | asset_url }}" alt="MediCo" width="500px" height="1000px">
        </div>
</section>